body, ul, li {
	margin: 0; 
	padding: 0;
}
#body {
	position: relative;
	width: 300px;
	height: 300px;
	border: 1px solid #000;
	border-radius: 50%;
	margin: 50px auto 30px;
}
#body ul {
	position: relative;
	height: 300px;
	list-style: none;

}
#body li {
	position: absolute;
	height: 12px;
	width: 2px;
	background-color: #888;
	left: 149px;
	top: 0;
	transform-origin: center 150px; 
}
#body li:nth-of-type(5n+1) {
	height: 15px;
	background-color: red;
}
#hour, #min, #sec {
	position: absolute;
}
#hour {
	height: 50px;
	width: 8px;
	background-color: #000;
	top: 100px;
	left: 146px;
	transform-origin: center bottom; 
}
#min {
	height: 80px;
	width: 6px;
	background-color: #888;
	top: 70px;
	left: 147px;
	transform-origin: center bottom; 
}
#sec {
	height: 100px;
	width: 4px;
	background-color: red;
	top: 50px;
	left: 148px;
	transform-origin: center bottom; 
}
#center {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	left: 140px;
	top: 140px;
	background-color: #000;
}

/*下拉时区*/
#zone{
	width: 300px;
	height: 150px;
	margin: 0 auto;
	font-size: 16px;
	text-align: center;
}
#zone-list {
	width: 300px;
	height: 50px;
	text-align: center;
	background-color: #444;
	color: #fff;
	outline: none;
	border: 1px solid #000;
	padding-left: 5px;
}
#btn {
	display: block;
	width: 150px;
	height: 50px;
	margin: 30px auto 0;
	/*border: 1px solid #888;*/
	background-color: rgba(122,174,170,0.5);
	border-radius: 6px;
	text-decoration: none;
	color: #888;
	line-height: 50px;
}
#btn:hover {
	background-color: rgba(122,174,170,0.7);
}
#btn:active {
	background-color: rgba(122,174,170,1);
}